# ⬆️ Top-most EditorConfig file
root = true

#######################
# 🌍 Global Defaults
#######################

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

#########################
# ⚙️ Scripting Languages
#########################

[*.ps1]
indent_style = space
indent_size = 4
charset = utf-8-bom

[*.vbs]
indent_style = space
indent_size = 4
charset = utf-8-bom

[*.hta]
indent_style = space
indent_size = 4
charset = utf-8-bom

#########################
# 🧱 Structured Data
#########################

[*.{yaml,yml,json}]
indent_style = space
indent_size = 2

#########################
# 📝 Markdown
#########################

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

#########################
# 📄 Plain Text
#########################

[*.txt]
indent_style = space
indent_size = 2

#########################
# 🌐 Web & XML Files
#########################

[*.{html,xml}]
indent_style = space
indent_size = 2

[*.{config,nuspec,csproj}]
indent_style = space
indent_size = 2

#########################
# 💻 Source Code Files
#########################

[*.py]
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

[*.{c,cpp,h,hpp,cs}]
indent_style = space
indent_size = 4

#########################
# 🐚 Shell & INI Configs
#########################

[*.{sh,bash}]
indent_style = space
indent_size = 4

[*.{conf,ini}]
indent_style = space
indent_size = 4

#########################
# 🧱 Binary & Artifacts
#########################

[*.{exe,pdf,zip,tar,gz,7z,iso,nupkg,bak,png}]
charset = binary
