# Repository-wide EditorConfig
# Windows-SysAdmin-ProSuite
# PowerShell 5.1-first, multi-language enterprise baseline.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psm1}]
charset = utf-8-bom
indent_style = space
indent_size = 4

[*.psd1]
charset = utf-8
indent_style = space
indent_size = 4

[*.{vbs,vbe,wsf,wsc}]
charset = utf-8-bom
indent_style = space
indent_size = 4

[*.hta]
charset = utf-8
indent_style = space
indent_size = 2

[*.{yaml,yml,json,jsonc,toml}]
indent_style = space
indent_size = 2

[.*rc]
indent_style = space
indent_size = 2

[*.lock]
indent_style = space
indent_size = 2

[*.{md,rst}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.txt]
indent_style = space
indent_size = 2

[*.env]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.csv]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.log]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false

[*.reg]
charset = utf-16le
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{html,htm,css,xml,config,nuspec,csproj,props,targets}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[*.{c,cpp,h,hpp,cs,java,php}]
indent_style = space
indent_size = 4

[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{conf,ini}]
indent_style = space
indent_size = 4

[.gitignore]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[.gitattributes]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[.dockerignore]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[.npmignore]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[.prettierignore]
charset = utf-8
end_of_line = lf
insert_final_newline = true
