# ⬆️ Top-most EditorConfig file
root = true

#######################
# 🌍 Global Defaults
#######################
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

#########################
# ⚙️ Scripting Languages
#########################
[*.{ps1,psm1,vbs}]
indent_style = space
indent_size = 4
charset = utf-8-bom

#########################
# 🌐 HTA: HTML Applications
#########################
[*.hta]
indent_style = space
indent_size = 2
charset = utf-8

#########################
# 🧱 Structured Data
#########################
[*.{yaml,yml,json,jsonc,toml}]
indent_style = space
indent_size = 2

#########################
# 🥪 Config / Linter / RC Files
#########################
[.*rc]
indent_style = space
indent_size = 2

[*.lock]
indent_style = space
indent_size = 2

#########################
# 📝 Markdown / ReStructuredText
#########################
[*.{md,rst}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

#########################
# 📄 Plain Text & Env
#########################
[*.txt]
indent_style = space
indent_size = 2

[*.env]
indent_style = space
indent_size = 2
insert_final_newline = true

#########################
# 📁 Logs & Data Exports
#########################
[*.csv]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.log]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false

#########################
# 🧰 Registry Scripts
#########################
[*.reg]
indent_style = space
indent_size = 4
charset = utf-16le
end_of_line = crlf

#########################
# 🌐 Web & XML Files
#########################
[*.{html,xml,config,nuspec,csproj}]
indent_style = space
indent_size = 2

#########################
# 💻 Source Code Files
#########################
[*.py]
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

[*.{c,cpp,h,hpp,cs}]
indent_style = space
indent_size = 4

[*.psd1]
indent_style = space
indent_size = 4
charset = utf-8

#########################
# 👤 Shell & INI Configs
#########################
[*.{sh,bash,bat,cmd}]
indent_style = space
indent_size = 4

[*.{conf,ini}]
indent_style = space
indent_size = 4

#########################
# 🧾 Git Metadata
#########################
[.gitignore]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[.gitattributes]
end_of_line = lf
insert_final_newline = true
charset = utf-8
